@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

html {
  background-color: #c2efeb;
}
/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
/* Body */
body {
  background-color: #c2efeb;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-optical-sizing: auto;
}

footer {
  width: 100%;
  background-color: #ecfee8;
  color: #042a2b;
  text-align: center;
  padding: 4px 0;
}
